{
  "openapi": "3.0.0",
  "info": {
    "title": "Zaruka API",
    "version": "1.0.0",
    "description": "Full documentation for Zaruka API"
  },
  "servers": [
    { "url": "https://domainmu.com" }
  ],
  "paths": {
    "/api/orkut/createpayment": {
      "get": {
        "summary": "Create Payment",
        "parameters": [
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "amount", "in": "query", "required": true, "schema": { "type": "number" } },
          { "name": "codeqr", "in": "query", "required": false, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Payment created" } }
      }
    },
    "/api/orkut/cekstatus": {
      "get": {
        "summary": "Cek Status Payment",
        "parameters": [
          { "name": "apikey", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "merchant", "in": "query", "required": true, "schema": { "type": "string" } },
          { "name": "keyorkut", "in": "query", "required": true, "schema": { "type": "string" } }
        ],
        "responses": { "200": { "description": "Payment status response" } }
      }
    },

    "/api/download/aiodl": { "get": { "summary": "All Downloader", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Download result"}} } },
    "/api/download/tiktokdl": { "get": { "summary":"TikTok Download", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"TikTok video"}} } },
    "/api/download/fbdl": { "get": { "summary":"Facebook Download", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Facebook video"}} } },
    "/api/download/igdl": { "get": { "summary":"Instagram Download", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Instagram media"}} } },
    "/api/download/ytmp3": { "get": { "summary":"YouTube MP3", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"MP3 result"}} } },
    "/api/download/ytmp4": { "get": { "summary":"YouTube MP4", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"MP4 result"}} } },
    "/api/download/ytdlv2": { "get": { "summary":"YouTube V2", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"YouTube V2 media"}} } },
    "/api/download/capcut": { "get": { "summary":"Capcut Download", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Capcut media"}} } },
    "/api/download/twitter": { "get": { "summary":"Twitter Download", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Twitter media"}} } },
    "/api/download/gdrive": { "get": { "summary":"Google Drive Download", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"GDrive media"}} } },
    "/api/download/mediafire": { "get": { "summary":"Mediafire Download", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Mediafire media"}} } },
    "/api/download/pindlvid": { "get": { "summary":"Pinterest Video Download", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Pinterest video"}} } },
    "/api/download/spotify": { "get": { "summary":"Spotify Download", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Spotify media"}} } },
    "/api/download/playspotify": { "get": { "summary":"Play Spotify", "parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Spotify play result"}} } },
    "/api/download/soundcloud": { "get": { "summary":"Soundcloud Download", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Soundcloud media"}} } },
    "/api/download/snackvideo": { "get": { "summary":"SnackVideo Download", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"SnackVideo media"}} } },
    "/api/download/terabox": { "get": { "summary":"Terabox Download", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Terabox media"}} } },

    "/api/ai/openai": { "get": { "summary":"OpenAI", "parameters":[{"name":"msg","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"OpenAI response"}} } },
    "/api/ai/openai-prompt": { "get": { "summary":"OpenAI Prompt", "parameters":[{"name":"prompt","in":"query","required":true,"schema":{"type":"string"}},{"name":"msg","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"OpenAI Prompt response"}} } },
    "/api/ai/blackbox": { "get": { "summary":"Blackbox AI", "parameters":[{"name":"msg","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Blackbox response"}} } },
    "/api/ai/deepseek": { "get": { "summary":"DeepSeek AI", "parameters":[{"name":"msg","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"DeepSeek response"}} } },
    "/api/ai/gpt4": { "get": { "summary":"GPT 4", "parameters":[{"name":"text","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"GPT 4 response"}} } },
    "/api/ai/gpt-3-5-turbo": { "get": { "summary":"GPT 3.5 Turbo", "parameters":[{"name":"text","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"GPT 3.5 response"}} } },
    "/api/ai/gemini": { "get": { "summary":"Gemini AI", "parameters":[{"name":"text","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Gemini response"}} } },
    "/api/ai/simsimi": { "get": { "summary":"SimSimi AI", "parameters":[{"name":"msg","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"SimSimi response"}} } },

    "/api/tools/ocr": { "get": { "summary":"OCR Tool", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"OCR result"}} } },
    "/api/tools/skiplink": { "get": { "summary":"Skiplink Tool", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Skiplink result"}} } },
    "/api/tools/tinyurl": { "get": { "summary":"TinyURL Shortlink", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"TinyURL result"}} } },
    "/api/tools/isgd": { "get": { "summary":"Isgd Shortlink", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Isgd result"}} } },
    "/api/tools/whois": { "get": { "summary":"Whois Domain", "parameters":[{"name":"domain","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Whois result"}} } },

    "/api/search/gimage": { "get": { "summary":"Google Image Search", "parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Google image results"}} } },
    "/api/search/otakotaku": { "get": { "summary":"OtakOtaku Search", "parameters":[{"name":"query","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"OtakOtaku results"}} } },
    "/api/search/pinterest": { "get": { "summary":"Pinterest Search", "parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Pinterest results"}} } },
    "/api/search/playstore": { "get": { "summary":"Playstore Search", "parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Playstore results"}} } },
    "/api/search/fdroid": { "get": { "summary":"F-Droid Search", "parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Fdroid results"}} } },
    "/api/search/youtube": { "get": { "summary":"YouTube Search", "parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"YouTube results"}} } },
    "/api/search/happymod": { "get": { "summary":"Happymod Search", "parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Happymod results"}} } },

    "/api/stalk/tiktok": { "get": { "summary":"TikTok Stalk", "parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"TikTok profile"}} } },
    "/api/stalk/instagram": { "get": { "summary":"Instagram Stalk", "parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Instagram profile"}} } },
    "/api/stalk/github": { "get": { "summary":"Github Stalk", "parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Github profile"}} } },
    "/api/stalk/npm": { "get": { "summary":"NPM Stalk", "parameters":[{"name":"package","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"NPM package info"}} } },
    "/api/stalk/youtube": { "get": { "summary":"YouTube Stalk", "parameters":[{"name":"username","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"YouTube channel info"}} } },

    "/api/image/brat": { "get": { "summary":"Brat Image Creator", "parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Brat image"}} } },
    "/api/image/emojimix": { "get": { "summary":"Emoji Mix", "parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Emoji Mix image"}} } },
    "/api/image/rembg": { "get": { "summary":"Remove Background", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Removed background"}} } },
    "/api/image/upscale": { "get": { "summary":"Upscale Image", "parameters":[{"name":"url","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Upscaled image"}} } },

    "/api/panel/list": { "get": { "summary":"List Panel", "parameters":[{"name":"apikey","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"List of panel"}} } },
    "/api/panel/create": { "get": { "summary":"Create Panel", "parameters":[{"name":"apikey","in":"query","required":true,"schema":{"type":"string"}},{"name":"user","in":"query","required":true,"schema":{"type":"string"}},{"name":"pass","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Panel created"}} } },
    "/api/panel/delete": { "get": { "summary":"Delete Panel", "parameters":[{"name":"apikey","in":"query","required":true,"schema":{"type":"string"}},{"name":"panelid","in":"query","required":true,"schema":{"type":"string"}}], "responses":{"200":{"description":"Panel deleted"}} } }
  }
}
